/*-- scss:defaults --*/

$body-bg: #fcfdfd;
$body-color: #373E40;
$link-color: #488286;
$presentation-heading-color: #488286;
$presentation-heading-font-weight: bold;

/*-- scss:rules --*/

.reveal .title {
  font-size: 2em;
}

.reveal .h1 {
  font-size: 1.5em;
}

.reveal .h2 {
  font-size: 1em;
}

.reveal .h3 {
  font-size: 0.65em;
}

.reveal .h4 {
  font-size: 0.45em;
}

.reveal .slide img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

